html,
body {
  padding: 0;
  margin: 0;
  font-family: "Courier Prime", monospace;
  line-height: 1.6;
  font-size: 18px;
  color: #bc7588;
  background-color: #fff9f1;
  background-image: url("../public/images/paper_texture.png");
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "Atteron";
  src: url("../public/asset/Atteron.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  position: relative;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  text-align: center;
  font-family: "Atteron";
}

.saveDate {
  text-align: center;
}

.flower {
  position: absolute;
}

#flower_1 {
  top: -10rem;
  left: -5rem;
  transform: rotate(0.5turn);
}

#flower_2 {
  top: -10rem;
  right: -5rem;
  transform: rotate(0.7turn);
}

#flower_3 {
  bottom: -20rem;
  right: -5rem;
  transform: rotate(0turn);
}

#flower_4 {
  bottom: -20rem;
  left: -5rem;
  transform: rotate(0.1turn);
}

@media (min-width: 600px) {
  #flower_1 {
    top: -10rem;
    left: -10rem;
    transform: rotate(0.5turn);
  }

  #flower_2 {
    top: -10rem;
    right: -10rem;
    transform: rotate(0.7turn);
  }

  #flower_3 {
    bottom: -10rem;
    right: -10rem;
    transform: rotate(0turn);
  }

  #flower_4 {
    bottom: -10rem;
    left: -10rem;
    transform: rotate(0.1turn);
  }
}
